{% extends 'base.html.twig' %}

{% block title %}home page {% endblock %}

{% block body %}
<img class="background" src="{{asset('images/bg.jpg')}}" alt="">
<p>« Une bibliothèque, c’est le carrefour de tous les rêves de l’humanité. »</p>
{% endblock %}
