.background{
    width: 100%;
    height: 100vh;
}
p{
    position: absolute;
    font-size: 2.5em;
    color: white;
    font-weight: bolder;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.livres{
    width: 80%;
    margin: auto;
}
#livres{
    color: rgb(37, 13, 59);
    text-align: center;
}
.conteneur{
    display: flex;   
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
